@import "reset";
@import "variables";
@import "mixins";

/*.container{
	height:100vh;
	background-color:purple;
}*/
// navagation

nav{
	width:87.6%;
	margin: 0 auto;
}
nav button{
	position:relative;
	margin-left:2rem;
	margin-bottom:1rem;
}

ul li a {
    color: #fff !important;
    font-size: 1rem;
    padding:2rem;
}

 ul li a:hover{
    	color:lightblue !important;
    	text-decoration:none;
    }

    #nghd{
    	position:relative;
    	top:-50%;
    	left:50%;
    	font-size:3em;
    }

#top-photo{
	position:relative;
	top:10rem;

	img {
		float:left;
		shape-outside:ellipse(50% 50%);
		width: 25%;
		height:65%;
		border-radius:100%;
		margin-right:2rem;
		margin-left:2rem;
	}

	p{
		
		//margin-left:4em;
		width:23rem;
		color:#fff;
	}


}

footer{
	position:relative;
	//top:600px;
	text-align:center;
	background-color:purple;
}